<div class="page" id="detail-page">
    <div class="detail-title">
        <h3>{{ this.name }}</h3>
        <img src="{{this.image}}" alt="Present image">
    </div>
    <div class="detail-content">
        <p>Price: {{this.price}}</p>
        <p>Recipient: {{this.recipient}}</p>
        <p>Description: {{this.description}}</p>
        <a href="/presents" class="go-back-btn">Go back to the list</a>
    </div>
</div>